extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-5
        .success-banner
            i.fa-solid.fa-circle-check
            h3 Đặt hàng thành công!
            p Chúng tôi sẽ xử lý đơn hàng trong thời gian sớm nhất.

        if (order)
            .form-card.mb-4
                h2
                    i.fa-solid.fa-user.mr-2
                    | Thông tin cá nhân
                .user-info-card(style="box-shadow: none; border: none; padding: 0;")
                    .info-row
                        .info-label Họ tên
                        .info-value #{order.userInfo.fullName}
                    .info-row
                        .info-label Số điện thoại
                        .info-value #{order.userInfo.phone}
                    .info-row
                        .info-label Địa chỉ
                        .info-value #{order.userInfo.address}

            +box-head("Thông tin đơn hàng")
            .table-card
                table.table
                    thead
                        tr
                            th STT
                            th Sản phẩm
                            th Giá
                            th Số lượng
                            th Tổng tiền
                    tbody
                        if (order.products.length > 0)
                            each item, index in order.products
                                tr
                                    td #{index + 1}
                                    td
                                        .d-flex.align-items-center(style="gap: 12px;")
                                            img(
                                                src=item.productInfo.thumbnail || '/uploads/seed/no-image.svg'
                                                alt=item.productInfo.title
                                                width="64"
                                                height="64"
                                                style="object-fit: cover;"
                                            )
                                            span #{item.productInfo.title}
                                    td #{item.priceNew}$
                                    td #{item.quantity}
                                    td
                                        b #{item.totalPrice}$

            if (order.products.length > 0)
                .order-total
                    .label Tổng đơn hàng
                    .amount #{order.totalPrice}$

        .text-center.mt-4
            a.btn.btn-primary.btn-lg(href="/")
                i.fa-solid.fa-house.mr-2
                | Về trang chủ
