include ../mixins/sub-menu.pug

.top-bar
    .container
        .top-bar-inner
            span
                i.fa-solid.fa-truck-fast
                | Free shipping for orders over 500K
            span
                i.fa-solid.fa-phone
                | Hotline: #{settingGeneral ? settingGeneral.phone : "0123 456 789"}

header.header(role="banner")
    .container-fluid.px-4
        .d-flex.align-items-center.justify-content-between.flex-wrap
            .inner-logo.mr-4
                a(href="/")
                    if (settingGeneral && settingGeneral.logo)
                        img(src=settingGeneral.logo alt=settingGeneral.websiteName)
                    else
                        span(style="font-size: 20px; font-weight: 700; color: var(--primary); font-family: 'Space Grotesk', sans-serif;") PM Store

            .inner-search.flex-grow-1.mr-4(style="max-width: 400px;")
                form(action="/search" method="GET")
                    .search-box
                        input.form-control(
                            type="text"
                            placeholder="Search products..."
                            name="keyword"
                            value=keyword
                            aria-label="Search products"
                        )
                        button.btn(type="submit" aria-label="Submit search")
                            i.fa-solid.fa-magnifying-glass

            nav(role="navigation" aria-label="Main navigation")
                .inner-menu
                    ul.d-flex.align-items-center.m-0.p-0(style="list-style: none; gap: 6px;")
                        li
                            a(href="/")
                                i.fa-solid.fa-house.mr-1
                                | Home
                        li.sub-menu
                            -const pathProduct = "/products";
                            a(href="/products")
                                i.fa-solid.fa-box.mr-1
                                | Products
                            +sub-menu(layoutProductsCategory, pathProduct)
                        li
                            a.cart-badge-glow(href="/cart")
                                i.fa-solid.fa-cart-shopping.mr-1
                                | Cart (#{miniCart ? miniCart.totalQuantity : 0})
                        if (user)
                            li
                                a(href="/user/info")
                                    i.fa-solid.fa-user.mr-1
                                    | #{user.fullName}
                            li
                                a(href="/user/logout")
                                    i.fa-solid.fa-right-from-bracket.mr-1
                                    | Logout
                        else
                            li
                                a(href="/user/register")
                                    i.fa-solid.fa-user-plus.mr-1
                                    | Register
                            li
                                a(href="/user/login")
                                    i.fa-solid.fa-right-to-bracket.mr-1
                                    | Login
