extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .product-detail
        .container.my-5
            .detail-card
                .row.no-gutters
                    .col-md-6
                        .inner-thumb
                            img(src=product.thumbnail || '/uploads/seed/no-image.svg', alt=product.title)
                    .col-md-6
                        .detail-info
                            if (product.category)
                                .inner-category
                                    i.fa-solid.fa-tag.mr-1
                                    span Danh mục:&nbsp;
                                    a(href=`/products/${product.category.slug}`) #{product.category.title}

                            h1.inner-title #{product.title}

                            if (product.price * (100 - product.discountPercentage) / 100)
                                .inner-price-new #{product.price * (100 - product.discountPercentage) / 100}$

                            if (product.price)
                                .inner-price-old #{product.price}$

                            .d-flex.flex-wrap.mb-3(style="gap: 10px;")
                                if (product.discountPercentage)
                                    .inner-percent
                                        span
                                            i.fa-solid.fa-arrow-down.mr-1
                                            | #{product.discountPercentage}%

                                if (product.stock)
                                    .inner-stock
                                        span
                                            i.fa-solid.fa-box.mr-1
                                            | #{product.stock} sản phẩm

                            form(
                                action=`/cart/add/${product.id}`
                                method="POST"
                            )
                                .d-flex.align-items-center.mt-3(style="gap: 12px;")
                                    input.qty-input(
                                        type="number"
                                        name="quantity"
                                        value="1"
                                        min="1"
                                        max=product.stock
                                    )
                                    button.btn.btn-success.btn-lg(type="submit" style="flex: 1;")
                                        i.fa-solid.fa-cart-plus.mr-2
                                        | Thêm vào giỏ hàng

            .mt-5
                +box-head("Mô tả sản phẩm")
                .inner-desc !{product.description}

            .mt-4
                a.btn.btn-secondary(href="javascript:;" button-go-back)
                    i.fa-solid.fa-arrow-left.mr-2
                    | Trở lại
