extends ../../layouts/default.pug

block main 
    if (record.title) 
        h1(class="mb-4") #{record.title}
    if (record.description)
        div(class="mb-4") !{record.description}   
    a(
        href=`${prefixAdmin}/role/edit/${record.id}`
        class="btn btn-warning"
    ) Chỉnh sửa