extends ../../layouts/default.pug 
include ../../mixins/alert.pug
include ../../mixins/form-change-multi

block main 
    if (role.permissions.includes("role_view"))

        h1(class="mb-4") Nhóm quyền

        +alert-success(5000)
        +alert-error(5000)

        .card.mb-3 
            .card-header Danh sách 
            .card-body 
                .row 
                    .col-8 
                            +form-change-multi(`${prefixAdmin}/role/change-multi?_method=PATCH`)
                    .col-4.text-right
                        if (role.permissions.includes("role_create"))
                            a(
                                href=`${prefixAdmin}/role/create`
                                class="btn btn-outline-success"
                            ) + Thêm mới

                    table(
                        class="table table-hover table-sm"
                        checkbox-multi
                    )
                        thead 
                            tr  
                                th 
                                    input(type="checkbox" name="checkall")
                                th STT
                                th Nhóm quyền
                                th Mô tả ngắn
                                th Hành động

                        tbody 
                            if(record.length > 0)
                                each item, index in record
                                    tr 
                                        td 
                                            input(
                                                type="checkbox"
                                                name="id"
                                                value=item.id
                                            )
                                        td #{index + 1}
                                        td #{item.title} 
                                        td !{item.description}
                                        td
                                            a(
                                                class="btn btn-secondary btn-sm"
                                                href=`${prefixAdmin}/role/detail/${item.id}`
                                            ) Chi tiết

                                            if (role.permissions.includes("role_edit"))
                                                a(
                                                    class="btn btn-warning btn-sm ml-1"
                                                    href=`${prefixAdmin}/role/edit/${item.id}`
                                                ) Sửa

                                            if (role.permissions.includes("role_delete"))
                                                button(
                                                    class="btn btn-danger btn-sm ml-1"
                                                    data-id=item.id
                                                    button-delete
                                                ) Xóa
                            else 
                                tr 
                                    td(colspan="4" class="text-center") Chưa có nhóm quyền nào được tạo.
        
        form(
            action="" 
            method="POST"
            id="form-delete-item"
            data-path=`${prefixAdmin}/role/delete`
        ) 

        script(src="/admin/js/role.js") 