mixin product-item(item)
    .col-lg-4.col-md-6.mb-4
        .product-item
            .inner-image
                a(href=`/products/detail/${item.slug}`)
                    img(
                        src=item.thumbnail || '/uploads/seed/no-image.svg',
                        alt=item.title
                    )
                if (item.featured == "1")
                    .inner-featured Nổi bật
                if (item.discountPercentage)
                    .inner-discount -#{item.discountPercentage}%
            .inner-content
                h3.inner-title
                    a(href=`/products/detail/${item.slug}`) #{item.title}
                .d-flex.align-items-baseline.flex-wrap(style="gap: 8px;")
                    .inner-price-new #{item.priceNew}$
                    if (item.discountPercentage)
                        .inner-price-old #{item.price}$
