extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)

    .auth-page
        .form-card
            .auth-logo
                .brand-name PM Store
            .auth-icon
                i.fa-solid.fa-key
            h1.text-center Reset Password
            form(action="/user/password/reset" method="POST")
                .form-group
                    label(for="password") New Password
                    input.form-control(
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Enter new password"
                        required
                    )
                .form-group
                    label(for="confirmPassword") Confirm Password
                    input.form-control(
                        type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        placeholder="Confirm new password"
                        required
                    )
                button.btn.btn-primary.btn-block.btn-lg.mt-3(type="submit") Reset Password
