extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)

    .container.my-5
        .row.justify-content-center
            .col-md-6.col-lg-5
                .form-card
                    .text-center.mb-4
                        i.fa-solid.fa-key(style="font-size: 36px; color: var(--primary);")
                    h1.text-center Đổi mật khẩu
                    form(action="/user/password/reset" method="POST")
                        .form-group
                            label(for="password") Mật khẩu mới
                            input.form-control(
                                type="password"
                                id="password"
                                name="password"
                                placeholder="Nhập mật khẩu mới"
                                required
                            )
                        .form-group
                            label(for="confirmPassword") Xác nhận mật khẩu
                            input.form-control(
                                type="password"
                                id="confirmPassword"
                                name="confirmPassword"
                                placeholder="Nhập lại mật khẩu"
                                required
                            )
                        button.btn.btn-primary.btn-block.btn-lg.mt-3(type="submit") Đổi mật khẩu
