.sider
    .inner-menu
        ul
            li
                a(href=prefixAdmin + "/dashboard")
                    i.fa-solid.fa-gauge-high.mr-2
                    | Tổng quan
            
            if (role.permissions.includes("products-category_view"))
                li
                    a(href=prefixAdmin + "/product_category")
                        i.fa-solid.fa-layer-group.mr-2
                        | Danh mục sản phẩm
            
            if (role.permissions.includes("products_view"))
                li
                    a(href=prefixAdmin + "/products")
                        i.fa-solid.fa-box-open.mr-2
                        | Danh sách sản phẩm
            
            if (role.permissions.includes("products_restore"))
                li 
                    a(href=prefixAdmin + "/trash_can")
                        i.fa-solid.fa-trash-can-arrow-up.mr-2
                        | Khôi phục sản phẩm
            
            if (role.permissions.includes("roles_view"))
                li 
                    a(href=prefixAdmin + "/role")
                        i.fa-solid.fa-user-shield.mr-2
                        | Nhóm quyền
                
            if (role.permissions.includes("roles_permissions"))
                li
                    a(href=prefixAdmin + "/role/permission")
                        i.fa-solid.fa-key.mr-2
                        | Phân quyền
            
            if (role.permissions.includes("accounts_view"))
                li
                    a(href=prefixAdmin + "/account")
                        i.fa-solid.fa-users.mr-2
                        | Danh sách tài khoản
                li
                    a(href=prefixAdmin + "/setting/general")
                        i.fa-solid.fa-gear.mr-2
                        | Cài đặt chung